@using AspNetCoreTodoData.Models
@model TodoItem

<form asp-action="AddItem" method="POST">
    <label asp-for="Title">Add a new Item</label>
    <input asp-for="Title" />
    @* setting the autocomplete = "off" helps to remove history from input field *@
    <input placeholder="Select Date" asp-for="DueAt" autocomplete="off" id="datepicker">
    <button type="submit">Add</button>
</form>
